
@{
    ViewData["Title"] = "AccessMenu";
}

<section class="sidebar layer-style">
    <header><h3> منوی دسترسی </h3><i class="icon-chevron-down"></i></header>
    <div class="inner">
        <ul>
            <li class="open">
                <span> حساب کاربری </span>
                <ul>
                    <li class="active"><a href="/user-panel"> مشاهده حساب کاربری </a></li>
                    <li><a href="/user-panel/edit"> ویرایش حساب کاربری </a></li>

                    <li><a href="/user-panel/change-password"> تغییر رمز عبور </a></li>
                </ul>
            </li>
            <li><a href="/user-panel/resume"> مدیریت رزومه  </a>  </li>
            <li><a href="account-5.html"> پرسش های من  </a> <i> @ViewBag.qaCounts.QuestionsCount </i> </li>
            <li><a href="account-6.html"> پاسخ های من  </a> <i> @ViewBag.qaCounts.AnswersCount </i> </li>
            <li><a href="account-7.html"> دنبال کنندگان  </a> <i> 12 </i> </li>
            <li><a href="account-8.html"> دنبال شونده ها  </a> <i> 24 </i> </li>
            <li><a href="account-9.html"> صندوق پیام ها  </a> <i> 0 </i> </li>
            <li><a href="account-10.html"> سوالات متداول و راهنما  </a> </li>
        </ul>
    </div>
</section>


