@using BugFixer.Application.ViewModels.User;
@model UserVM

@{
    ViewData["Title"] = " بازیابی رمز عبور";
    Layout = "_SecondLayout";
}
<div style="direction: rtl; padding: 20px">
    <h2>بازیابی کلمه عبور</h2>

    <p>
        <a href="https://localhost:44384/reset-password/@Model.ActiveCode">بازیابی کلمه عبور</a>
    </p>
</div>
