<div class="landing-layer">
    <div class="container">
        <header>
            <a href="" class="logo"><img src="images/logo.svg"></a>
            <h1> سامانه <span>پرسش و پاسخ</span> برنامه نویسان و توسعه دهندگان </h1>
            <h2> آموزش ببینید ، مهارت ها و تخصص های خود را به اشتراک بگذارید ، بپرسید و به جواب برسید  </h2>
        </header>

        <div class="search-form">
            <form action="" method="">
                <input type="text" name="" placeholder=" دنبال چه موضوعی میگردی ؟ ">
                <button><i class="icon-search-1"></i></button>
            </form>
        </div>
    </div>
</div>