<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <title> باگ فیکسر </title>
    <partial name="_MetaTags" />
    <partial name="_Styles" />
</head>
<body>
    <script src="js/modernizr.js"></script>

    <!-- lanfing page -->

    @await RenderSectionAsync("Landing",false)
    <!-- /lanfing page -->
    <!-- menu -->
    <partial name="_TopMenu" />
    <!-- /menu -->

    <div class="container">
        <!-- questions -->
       @RenderBody()
        <!-- /questions -->
        <!-- aside -->
     
        @await RenderSectionAsync("SideBar",false)

        <!-- /aside -->
        <div class="clearfix"></div>
    </div>


    <partial name="_Footer"/>
    <partial name="_Scripts" />
</body>
</html>
