<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <title> باگ فیکسر </title>
    <partial name="_MetaTags" />
    <partial name="_Styles" />
    <script src="js/modernizr.js"></script>
</head>
<body>

    <!-- lanfing page -->
    <partial name="_LandingSection" />
    <!-- /lanfing page -->
    <!-- menu -->
    <partial name="_TopMenu" />
    <!-- /menu -->

    <div class="container">
        <!-- questions -->
       @RenderBody()
        <!-- /questions -->
        <!-- aside -->
      <partial name="_SideBar"/>
        <!-- /aside -->
        <div class="clearfix"></div>
    </div>


    <partial name="_Footer"/>
    <partial name="_Scripts" />
</body>
</html>
