<div class="top-menu">
    <div class="container">

        <nav>
            <span><i class="icon-menu-2"></i></span>
            <ul>
                <li><a href=""> تگ ها </a></li>
                <li><a href=""> پرسش و پاسخ ها </a></li>
                <li><a href=""> کاربران </a></li>
                <li><a href=""> راهنمای سایت </a></li>
            </ul>
        </nav>

        <partial name="_LoggedIn" />

        <div class="clearfix"></div>

    </div>
</div>
