@using BugFixer.Application.ViewModels.Account;
@model ChangePasswordVM
<div class="account-content-layer layer-style">
    <h3> تغییر رمز عبور  </h3>

    <div class="inner">
        <form asp-area="UserPanel" asp-controller="Home" asp-action="ChangePassword" class="form-layer-style">
            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- input -->
                    <div class="input-layer">
                        <label><i class="icon-lock"></i>  رمز عبور فعلی </label>
                        <input asp-for="OldPassword" type="password" value="">
                        <span asp-validation-for="OldPassword">  </span>
                    </div>
                    <!--/ input -->
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- input -->
                    <div class="input-layer">
                        <label><i class="icon-lock"></i> رمز عبور جدید </label>
                        <input asp-for="NewPassword" type="password">
                        <span asp-validation-for="NewPassword">  </span>
                    </div>
                    <!--/ input -->
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- input -->
                    <div class="input-layer">
                        <label><i class="icon-lock"></i> تکرار رمز عبور جدید </label>
                        <input type="password" asp-for="RepeatNewPassword">
                        <span asp-validation-for="RepeatNewPassword"> </span>
                    </div>
                    <!-- /input -->
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 pull-left">
                    <button class="submit-button green"> تغییر رمز عبور </button>
                </div>

            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}