@model BugFixer.Application.ViewModels.Resume.CreateResumeVM

<div class="account-content-layer layer-style">
    <h3> مدیریت رزومه  </h3>
    <div class="inner">
        <form id="resumeForm" class="form-layer-style">

            <div class="row">

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- History -->
                    <div class="input-layer">
                        <label><i class="icon-user-6"></i> نام حرفه ی شما </label>
                        <input type="text" id="professionName">
                        <div class="msg-layer"> مثال : گرافیست وب </div>
                    </div>
                    <!-- /History -->
                </div>


                <div class="col-md-6 col-sm-12 col-xs-12">
                    <!-- duration History -->
                    <div class="input-layer">
                        <label><i class="icon-user-6"></i> میزان سابقه ی حرفه ای </label>
                        <input type="text" id="workExperience">
                        <div class="msg-layer"> مثال : 2 سال سابقه ی حرفه ای</div>
                    </div>
                    <!-- / duration History -->
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 skills-layer">
                    <div class="inner">

                        <!-- skills -->
                        <label><i class="icon-layers-1"></i> مهارت های من </label>
                        <div class="skills-layer-scroll">
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
                                <div class="inner" style="overflow: hidden; width: auto; height: 100%;">
                                    <div class="all-skills-items-layer">
                                        <div class="inner">
                                            <ul>
                                                <!-- parent -->
                                                <li class="close-inner">
                                                    <a href="javascript:void(0)"> برنامه نویسی وب <span><i class="icon-plus-sign"></i></span></a>
                                                    <!-- child -->
                                                    <ul>
                                                        <li> <input type="checkbox" id="category-2" value="PHP"> <label for="category-2">PHP </label> </li>
                                                        <li> <input type="checkbox" id="category-3" value="ASP.Net"><label for="category-3"> ASP.Net </label> </li>
                                                        <li> <input type="checkbox" id="category-4" value="MVC"><label for="category-4"> MVC </label> </li>
                                                        <li> <input type="checkbox" id="category-5" value="Laravel"><label for="category-5"> Laravel </label> </li>
                                                        <li> <input type="checkbox" id="category-6" value="CodeIgniter"><label for="category-6"> CodeIgniter </label> </li>
                                                        <li> <input type="checkbox" id="category-7" value="Angular"><label for="category-7"> Angular </label> </li>
                                                    </ul>
                                                    <!-- /child -->
                                                </li>
                                                <!-- /parent -->
                                                <!-- parent -->
                                                <li class="">
                                                    <a href="javascript:void(0)"> برنامه نویسی اپ موبایل <span><i class="icon-minus"></i></span></a>
                                                    <!-- child -->
                                                    <ul style="display: block;">
                                                        <li> <input type="checkbox" id="category-14" value="react Native"><label for="category-14"> react Native </label> </li>
                                                        <li> <input type="checkbox" id="category-15" value="Xamarin"><label for="category-15"> Xamarin </label> </li>
                                                        <li> <input type="checkbox" id="category-16" value="Angular"><label for="category-16"> Angular </label> </li>
                                                    </ul>
                                                    <!-- /child -->
                                                </li>
                                                <!-- /parent -->
                                                <!-- parent -->
                                                <li class="">
                                                    <a href="javascript:void(0)"> طراحی گرافیک <span><i class="icon-minus"></i></span> </a>
                                                    <!-- child -->
                                                    <ul style="display: block;">
                                                        <li> <input type="checkbox" id="category-20" value="طراحی قالب وب سایت"><label for="category-20"> طراحی قالب وب سایت</label> </li>
                                                        <li> <input type="checkbox" id="category-21" value="طراحی ست اداری"><label for="category-21"> طراحی ست اداری </label> </li>
                                                        <li> <input type="checkbox" id="category-22" value="طراحی کارت ویزیت"><label for="category-22">طراحی کارت ویزیت </label> </li>
                                                        <li> <input type="checkbox" id="category-23" value="طراحی آرم و لوگو"><label for="category-23"> طراحی آرم و لوگو </label> </li>
                                                        <li> <input type="checkbox" id="category-24" value="طراحی کاراکتر و انیمیشن"><label for="category-24"> طراحی کاراکتر و انیمیشن </label> </li>
                                                        <li> <input type="checkbox" id="category-25" value="طراحی جلد کتاب"><label for="category-25"> طراحی جلد کتاب </label> </li>
                                                        <li> <input type="checkbox" id="category-26" value="طراحی پوستر"><label for="category-26"> طراحی پوستر </label> </li>
                                                        <li> <input type="checkbox" id="category-27" value="طراحی بروشور"><label for="category-27"> طراحی بروشور </label> </li>
                                                    </ul>
                                                    <!-- /child -->
                                                </li>
                                                <!-- /parent -->
                                                <!-- parent -->
                                                <!-- /parent -->
                                                <!-- parent -->
                                                <!-- /parent -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 3px; position: absolute; top: 41px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; left: 4px; height: 156.816px;"></div>
                                <div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; border-radius: 7px; background: rgb(0, 0, 0); opacity: 0; z-index: 90; left: 4px; display: none;"></div>
                            </div>
                        </div>
                        <!-- تمامی مهارت ها بصورت چک باکس با آرایه ی  skills[] ایجاد میشه که میتونید  value هاش و استفاده کنید یا ذخیره کنید  -->
                        <div class="skills-result" name="skills"></div>

                        <div class="skills-popup" style="display: none;">
                            <div class="inner">
                                <h3> <i class="icon-star"></i> درصد مهارت خود را مشخص نمایید </h3>
                                <div class="skill-percent">
                                    <input type="hidden" name="select-category-id" value="category-24">
                                    <span class="title"> طراحی کاراکتر و انیمیشن </span>
                                    <di class="percent-layer">
                                        <div class="percent-bar">
                                            <div class="number">
                                                <input type="radio" name="skill-percent" id="percent-e" value="100">
                                                <label for="percent-e">100%</label>
                                            </div>
                                            <div class="number">
                                                <input type="radio" name="skill-percent" id="percent-d" value="80">
                                                <label for="percent-d">80%</label>
                                            </div>
                                            <div class="number">
                                                <input type="radio" name="skill-percent" id="percent-c" value="60">
                                                <label for="percent-c">60%</label>
                                            </div>
                                            <div class="number">
                                                <input type="radio" name="skill-percent" id="percent-b" value="40">
                                                <label for="percent-b">40%</label>
                                            </div>
                                            <div class="number">
                                                <input type="radio" name="skill-percent" id="percent-a" checked="checked" value="20">
                                                <label for="percent-a">20%</label>
                                            </div>
                                        </div>
                                    </di>
                                </div>

                                <button type="button" id="skillsBtn" class="submit-button green"> ثبت مهارت </button>

                            </div>
                        </div>

                        <!-- /skills -->

                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- Educational Documents -->
                    <div class="educational-documents-layer">
                        <div class="input-layer">
                            <label><i class="icon-document"></i> مدارک آموزشی من </label>
                            <input type="text" class="educational-item">
                            <div class="msg-layer"> هر مدرک را وارد نمونده و سپس دکمه  Enter را فشار دهید</div>
                            <!-- تمامی مدارک بصورت چک باکس با آرایه ی  educational[] ایجاد میشه که میتونید  value هاش و استفاده کنید یا ذخیره کنید  -->
                            <div class="educational-result"></div>
                        </div>
                    </div>
                    <!-- /Educational Documents -->
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- favorites -->
                    <div class="favorites-layer">
                        <div class="input-layer">
                            <label><i class="icon-filled-heart"></i>  علاقه مندی های من </label>
                            <input type="text" name="" value="" class="favorites-item">
                            <div class="msg-layer"> هر علاقه مندی را وارد نمونده و سپس دکمه  Enter را فشار دهید</div>
                            <!-- تمامی علاقه مندی ها بصورت چک باکس با آرایه ی  favorites[] ایجاد میشه که میتونید  value هاش و استفاده کنید یا ذخیره کنید  -->
                            <div class="favorites-result"></div>
                        </div>
                    </div>
                    <!-- /favorites -->
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- description -->
                    <div class="textarea-layer">
                        <label><i class="icon-document"></i>  بیوگرافی کوتاه (500 کاراکتر) </label>
                        <textarea id="description-field" maxlength="500" asp-for="Bio"> </textarea>
                        <div id="charNum" class="msg-layer red"> تعداد کاراکترهای مجاز 500</div>
                    </div>
                    <!-- /description -->
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12 pull-left">
                    <button type="button" onclick="handleClick(event)" class="submit-button green"> ثبت رزومه </button>
                </div>

            </div>

        </form>
    </div>
</div>



@section Scripts {
    <script>



        var selectedSkills = [];

        $('#skillsBtn').click(function () {

            // Retrieve the selected skill title and percentage from the popup
            var skillTitle = $('.skills-popup .title').text().trim();
            var skillPercentage = $('.skills-popup input[name="skill-percent"]:checked').val();

            // Create an object with skill data
            var skill = {
                SkillTitle: skillTitle,
                SkillPercentage: parseInt(skillPercentage)
            };

            // Push the skill object to the array or process it as needed
            selectedSkills.push(skill);
            console.log(selectedSkills)

            // Hide the popup or perform any other actions
            $('.skills-popup').hide();
        });





        function handleClick(event) {

            event.preventDefault();

            // bio
            var bio = $('#description-field').val();

            // professionName
            var professionName = $('#professionName').val()

            //workExperience
            var workExperience = $('#workExperience').val()

            // store resume favouriites
            var FavouriteResult = [];

            $('.favorites-result input[name="favorites[]"]').each(function () {
                FavouriteResult.push($(this).val());
            });

            var FavouriteResultConcated = FavouriteResult.join('--');

            // store educations
            var educationalResult = [];

            $('.educational-result input[name="educational[]"]').each(function () {
                educationalResult.push($(this).val());
            });

            var educationalResultConcated = educationalResult.join('--');

            // Serialize the list into JSON format
            var resumeSkills = JSON.stringify(selectedSkills);
            var resumeEducations = JSON.stringify(educationalResultConcated);
            var resumeFavourites = JSON.stringify(FavouriteResultConcated);
            var resumebio = JSON.stringify(bio);
            var resumeProfessionName = JSON.stringify(professionName);
            var resumeWorkExperience = JSON.stringify(workExperience);

            $.ajax({
                url: '/user-Panel/resume',
                type: 'POST',
                data: { resumeProfessionName: resumeProfessionName, resumeWorkExperience: resumeWorkExperience, resumeSkills: resumeSkills, resumeEducations: resumeEducations, resumeFavourites: resumeFavourites, resumebio: resumebio },
                success: function (result) {
                    // Handle the response from the controller
                    console.log(result);
                },
                error: function (xhr) {
                    // Handle any errors
                    console.log(xhr);
                }
            });


        }
    </script>
    }