@model BugFixer.Application.ViewModels.Questions.QuestionVM
@{
    ViewData["Title"] = "ShowQuestion";
}

<div class="user-page-style">

    <div class="breadcumb-layer">
        <div class="container">
            <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> باگ فیکسر </span></a></li>
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> پرسش ها </span></a></li>
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> نحوه پیاده سازی یک فروشگاه اینترنتی قدرتمند با لاراول </span></a></li>
            </ul>
        </div>
    </div>

    <div class="questions-layer page-style">

        <div class="container">

            <div class="right-col">
                <!-- question content -->
                <section class="question-content-layer">

                    <header>

                        <!-- use this button for edit Post , show only for author -->
                        <button><i class="icon-pencil-edit"></i></button>

                        <h1><a href=""> نحوه پیاده سازی یک فروشگاه اینترنتی قدرتمند با لاراول </a></h1>
                        <span><i> 22 </i> دقیقه پیش </span>
                        <span><i> 123 </i> بازدید </span>
                        <span><i> 5 </i> پاسخ </span>
                        <span><i> 12K </i> رای </span>
                        <span><i> 3 </i> امتیاز </span>

                    </header>

                    <article>
                        <div class="inner">
                            <!-- Be sure to use this tag -->
                            <header><h2> نحوه پیاده سازی یک فروشگاه اینترنتی قدرتمند با لاراول : </h2></header>
                            <!-- /Be sure to use this tag -->
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                            </p>
                            <p>
                                <a href=""> جهت مشاهده دموی کد من روی این لینک کلیک کنید </a>
                                کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                                کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                            </p>
                            <p>
                                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                            </p>
                            <div class="rating-layer">
                                <form class="scoring-layer" action="" method="">
                                    <button class="plus"><i class="icon-caret-up"></i></button>
                                    <span> 12K </span>
                                    <button class="negative"><i class="icon-caret-down"></i></button>
                                </form>
                                <form  class="star-rating" method="">

                                    <!-- if user rate this post , use " active " class for Button and disabled this -->
                                    <!-- <button class="active"><i class="icon-star"></i></button> -->
                                    <button><i class="icon-star"></i></button>
                                    <span> 3 </span>
                                </form>
                            </div>

                        </div>

                        <div class="detail-layer">
                            <div class="author">
                                <a href="" class="img-layer">
                                    <img src="images/pic/avatar.jpg">
                                </a>
                                <h3><a href=""> میترا رحیمی </a></h3>
                                <span><i>123</i> پرسش | <i>145</i> پاسخ</span>
                            </div>
                            <a href="javascript:void(0)"> <i class="icon-back-arrow"></i> ثبت پاسخ به این پرسش </a>
                            <div class="share-layer">
                                <span> به اشتراک گذاری </span>
                                <div class="share-detail">
                                    <div class="short-link">
                                        <p> لینک کوتاه شامل شناسه شما </p>
                                        <input type="text" name="" readonly="" value="http://gl.co/ShKiLO">
                                    </div>
                                    <div class="socials">
                                        <a href=""><i class="icon-facebook"></i></a>
                                        <a href=""><i class="icon-twitter"></i></a>
                                        <a href=""><i class="icon-linkedin"></i></a>
                                        <a href=""><i class="icon-telegram"></i></a>
                                        <a href=""><i class="icon-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <!-- tags -->
                    <div class="post-tags-layer">
                        <div class="tags-layer">
                            <a href=""> Jquery </a>
                            <a href=""> php </a>
                            <a href=""> Javascript </a>
                            <a href=""> woocommerce </a>
                            <a href=""> Framework </a>
                            <a href=""> Jquery </a>
                            <a href=""> php </a>
                        </div>
                    </div>
                    <!-- /tags -->

                </section>
                <!-- /question content -->

                <div class="banner-layer">
                    <a href=""><img src="images/banner-4.jpg"></a>
                </div>

                <!-- answer -->
                <div class="answers-layer">
                    <div class="top-layer">
                        <h4><span> 23 </span> پاسخ به این پرسش </h4>
                        <div class="filter-layer">
                            <form action="" method="">
                                <div class="select-layer">
                                    <select>
                                        <option> جدیدترین پاسخ ها </option>
                                        <option> قدیمی ترین پاسخ ها </option>
                                        <option> پر رای ترین پاسخ ها </option>
                                    </select>
                                </div>
                                <button><i class="icon-sort"></i></button>
                            </form>
                        </div>
                    </div>

                    <!-- Item -->
                    <div class="answer-item">
                        <div class="top-detail">
                            <span><i> 22 </i> دقیقه پیش </span>
                            <span><i> 2 </i> پاسخ </span>
                            <button><i class="icon-pencil-edit"></i></button>
                        </div>
                        <div class="inner">
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                            </p>
                            <p>
                                کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                                کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                            </p>
                            <p>
                                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                            </p>
                            <div class="rating-layer">
                                <form class="scoring-layer" action="" method="">
                                    <button class="plus"><i class="icon-caret-up"></i></button>
                                    <span> 12K </span>
                                    <button class="negative"><i class="icon-caret-down"></i></button>
                                </form>
                                <form class="selected-answer">
                                    <button class="selected"><i class="icon-check"></i></button>
                                </form>
                            </div>

                        </div>

                        <div class="detail-layer">
                            <div class="author">
                                <a href="" class="img-layer">
                                    <img src="images/pic/avatar.jpg">
                                </a>
                                <h3><a href=""> میترا رحیمی </a></h3>
                                <span><i>123</i> پرسش | <i>145</i> پاسخ</span>
                            </div>
                            <a href="javascript:void(0)"> <i class="icon-back-arrow"></i> ثبت پاسخ </a>
                        </div>

                        <!-- reply -->
                        <!-- item -->
                        <div class="reply-item">
                            <div class="inner">
                                <p> به نظر من این تجزیه و تحلیل شما درست نیست ، پیشنهاد میکنم نگاهی به این لینک بندازید : <a href="">http://bugfixer.com/topic/12/A1dsf5</a> <span> 12 مرداد 1397 در 14:28 </span> </p>
                                <button><i class="icon-pencil-edit"></i></button>
                            </div>
                        </div>
                        <!-- item -->
                        <!-- item -->
                        <div class="reply-item">
                            <div class="inner">
                                <p> مرسی بابت توضیح صریحتون ، به نظر من باید از این تگ کاربردی بهتر استفاده بشه <span> 12 مرداد 1397 در 14:28 </span> </p>
                                <button><i class="icon-pencil-edit"></i></button>
                            </div>
                        </div>
                        <!-- item -->
                        <!-- item -->
                        <div class="reply-item">
                            <div class="inner">
                                <p> مرسی بابت توضیح صریحتون ، به نظر من باید از این تگ کاربردی بهتر استفاده بشه مرسی بابت توضیح صریحتون ، به نظر من باید از این تگ کاربردی بهتر استفاده بشه مرسی بابت توضیح صریحتون ، به نظر من باید از این تگ کاربردی بهتر استفاده بشه <span> 12 مرداد 1397 در 14:28 </span> </p>
                                <button><i class="icon-pencil-edit"></i></button>
                            </div>
                        </div>
                        <!-- item -->
                        <!-- /reply -->

                    </div>
                    <!-- /Item -->
                    <!-- Item -->
                    <div class="answer-item">
                        <div class="top-detail">
                            <span><i> 22 </i> دقیقه پیش </span>
                            <span><i> 2 </i> پاسخ </span>
                            <button><i class="icon-pencil-edit"></i></button>
                        </div>
                        <div class="inner">
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                            </p>
                            <p>
                                کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                                کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                            </p>
                            <p>
                                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                            </p>
                            <div class="rating-layer">
                                <form class="scoring-layer" action="" method="">
                                    <button class="plus"><i class="icon-caret-up"></i></button>
                                    <span> 12K </span>
                                    <button class="negative"><i class="icon-caret-down"></i></button>
                                </form>
                                <form class="selected-answer">
                                    <button><i class="icon-check"></i></button>
                                </form>
                            </div>

                        </div>

                        <div class="detail-layer">
                            <div class="author">
                                <a href="" class="img-layer">
                                    <img src="images/pic/avatar.jpg">
                                </a>
                                <h3><a href=""> میترا رحیمی </a></h3>
                                <span><i>123</i> پرسش | <i>145</i> پاسخ</span>
                            </div>
                            <a href="javascript:void(0)"> <i class="icon-back-arrow"></i> ثبت پاسخ </a>
                        </div>

                    </div>
                    <!-- /Item -->
                    <!-- Item -->
                    <div class="answer-item">
                        <div class="top-detail">
                            <span><i> 22 </i> دقیقه پیش </span>
                            <span><i> 2 </i> پاسخ </span>
                            <button><i class="icon-pencil-edit"></i></button>
                        </div>
                        <div class="inner">
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                            </p>
                            <p>
                                کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                                کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                            </p>
                            <p>
                                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                            </p>
                            <div class="rating-layer">
                                <form class="scoring-layer" action="" method="">
                                    <button class="plus"><i class="icon-caret-up"></i></button>
                                    <span> 12K </span>
                                    <button class="negative"><i class="icon-caret-down"></i></button>
                                </form>
                                <form class="selected-answer">
                                    <button><i class="icon-check"></i></button>
                                </form>
                            </div>

                        </div>

                        <div class="detail-layer">
                            <div class="author">
                                <a href="" class="img-layer">
                                    <img src="images/pic/avatar.jpg">
                                </a>
                                <h3><a href=""> میترا رحیمی </a></h3>
                                <span><i>123</i> پرسش | <i>145</i> پاسخ</span>
                            </div>
                            <a href="javascript:void(0)"> <i class="icon-back-arrow"></i> ثبت پاسخ </a>
                        </div>

                    </div>
                    <!-- /Item -->
                    <!-- pagination -->
                    <div class="pagination-items">
                        <div class="inner">
                            <div class="pages">
                                <a href="" class="page">1</a>
                                <a href="" class="page">2</a>
                                <a href="" class="page current">3</a>
                                <a href="" class="page">4</a>
                                <a href="" class="page">5</a>
                                <a href="" class="page">...</a>
                                <a href="" class="page last">12564</a>
                            </div>
                        </div>
                    </div>
                    <!-- /pagination -->
                    <!-- submit comment -->
                    <div class="submit-comment" id="submit-comment">
                        <p> متن پاسخ شما </p>
                        <form asp-controller="Question" asp-action="ShowQuestion" method="post">
                            <input type="hidden" name="QuestionId" value="@Model.Id" />
                            <textarea name="AnswerText" placeholder=" متن خود را وارد نمایید "></textarea>
                            <button type="submit"> ارسال پاسخ </button>
                        </form>
                    </div>
                    <!-- /submit comment -->

                </div>
                <!-- /answer -->

            </div>


        </div>

    </div>

</div>

