<div class="account-heading layer-style">
    <!-- active account Use "green" , deactive account use "red" -->
    <span class="info"> <i class="icon-user-shape"></i> گرافیست و کدنویس وب در <i class="icon-briefcase"></i>  فریلنسر از <i class="icon-maps-and-flags"></i> ایران </span>
    <span class="view"> 123 بازدید از پروفایل <i class="icon-avatar"></i> </span>
</div>
