@using BugFixer.Application.ViewModels.Account
@model ForgotPasswordVM

@{
    ViewData["Title"] = " ورورد";
    Layout = "_SecondLayout";
    bool emailConfirm = TempData["emailConfirm"] as bool? ?? false;
}

<div class="breadcumb-layer">
    <div class="container">
        <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> باگ فیکسر </span></a></li>
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> فراموشی رمزعبور </span></a></li>
        </ul>
    </div>
</div>

<div class="user-page">

    <div class="container " style="display: flex; justify-content: center;">


        <div class="col-md-5 ">
            @if (ViewBag.IsSended != null)
            {
                <div class="alert alert-success">
                    <p class="help-block">ایمیلی حاوی بازیابی کلمه عبور به شما ارسال شد</p>

                </div>


            }
                <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="col-md-5">
                    <div class="inner">
                        <div class="input-layer">
                            <span><i class="icon-lock"></i>ایمیل</span>
                            <input asp-for="Email" type="email">
                        </div>
                        <button class="pull-right">بازیابی</button>
                    </div>
                </form>
    
           
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
  
}


