@using BugFixer.Application.ViewModels.User;
@model UserVM;

@{
    Layout = "_SecondLayout";
}

<div class="container">
    <div class="alert alert-success">
        <h2>@Model.UserName عزیز !</h2>
        <p>با تشکر از ثبت نام شما ، ایمیلی حاوی لینک فعالسازی ارسال شد</p>
    </div>
</div>
